body {
    font-family: sans-serif;
}

.seb-dict {
    white-space: pre-wrap;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.key-value {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.key-value * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seb-dict {
    width: 100%;
    height: 200px;
}

.request-filter-urls {
    width: 100%;
    height: 100px;
}